<html>
	<head>
		<title>Some HTML in here</title>
	</head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<body>
		<style>
			.responseDataHeader{
				height: fit-content;
				width: 49%;
				float: left;
				background-color: gray;
				border: 1px solid white;
				padding : 1px;
				text-align: center;
				font-weight: bold;
				color: white;
			}

			.responseData{
				height:50%;
				width:50%;
				float:left;
				overflow: scroll;
			}
		</style>

		<h1>Test Home File</h1>
		method :
		<select id="method">
			<option>GET</option>
			<option>POST</option>
			<option>PUT</option>
			<option>DELETE</option>
		</select>
		<br/><br/>
		url : <input type="text" id="url" style="width:50%;" value="http://192.182.8.125:8000/"><br/><br/>
		data : <input type="text" id="data" style="width:50%;"><br/><br/>
		<input type="button" id="click" value="test button">

		<br/><br/><br/><br/>
		<div class="responseDataHeader">
			raw
		</div>
		<div class="responseDataHeader">
			json
		</div>
		<br/>
		<div id="responseData1" class="responseData" style="background-color:wheat;">
			
		</div>
		<div id="responseData2" class="responseData" style="background-color:gold;">
			
		</div>
	</body>

	<script>
	// $('#click').click(
	// 	function()
	// 	{
	// 		var xhttp = new XMLHttpRequest();
	// 		var reqMethod = document.getElementById("method").value;
	// 		var reqUrl = document.getElementById("url").value;
	// 		var reqData = document.getElementById("data").value;

	// 		// // window.alert("method : " + reqMethod + "\n" + "url : " + reqUrl);
			
	// 		xhttp.onreadystatechange = function() {
	// 			if(xhttp.readyState == 4)
	// 			{
	// 				if(xhttp.status == 200)
	// 				{
	// 					window.alert("success");
	// 				}
	// 				else
	// 				{
	// 					window.alert("fail");
	// 				}
	// 			}
	// 		}

	// 		xhttp.open(reqMethod, reqUrl, true);
	// 		xhttp.setRequestHeader("Content-Type", "application/json");
	// 		xhttp.send();
	// 	}
	// );

	$(document).ready(function() {
		$('#click').click(function(){
			var reqMethod = $("#method").val();
			var reqUrl = $("#url").val();
			var reqData = $("#data").val();

			if(reqMethod == "POST")
			{
				$.ajax({
					url:reqUrl,
					type:reqMethod,
					data:reqData,
					contentType:"application/json",
					success: function(result) {
						$("#responseData1").text(result);
						$("#responseData2").text(JSON.stringify(result));
					},
					error: function(request, status, error){
						window.alert("code:"+request.status+"\n\n"+"message:"+request.responseText+"\n\n"+"error:"+error);
					}
				});
			}
			else
			{
				$.ajax({
					url:reqUrl,
					type:reqMethod,
					crossDomain: true,
					success: function(result) {
						$("#responseData1").text(result);
						$("#responseData2").text(JSON.stringify(result));
					},
					error: function(request, status, error){
						window.alert("code:"+request.status+"\n\n"+"message:"+request.responseText+"\n\n"+"error:"+error);
					}
				});
			}
		});
	});
	</script>
</html>